@use 'shared';

.navigation {
  display: flex;
  width: 10%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $menu-color;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    margin: 1rem 0;
  }
  a {
    text-decoration: none;
    color: $white-color;
  }
}
