.show-details {
  .show-info {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    @include mq("desktop", "max") {
      grid-template-rows: auto auto auto;
      grid-gap: 1rem;
    }

    article {
      grid-column: 1 / 7;
      @include mq("desktop", "max") {
        grid-column: 1 / -1;
      }
    }

    figure {
      grid-column: 7 / 13;
      grid-row: 1 / 3;
      @include mq("desktop-wide", "max") {
        grid-row: 1 / 2;
      }
      @include mq("desktop", "max") {
        grid-column: 1 / -1;
      }
    }

    img {
      max-width: 100%;
    }

    ul {
      justify-self: left;
      align-self: start;
      grid-row: 2 / 3;
      grid-column: 1 / 7;
      margin-top: 1rem;
      @include mq("desktop", "max") {
        grid-column: 1 / -1;
        grid-row: none;
      }
    }

    p {
      display: inline-block;
      padding-bottom: 0;
    }
  }
  .cast,
  .episodes {
    padding: 0 2rem;
  }

  .seasons {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
    align-items: center;

    h3 {
      padding-bottom: 0;
    }
  }
  .seasons-buttons {
    margin-left: 1rem;

    button {
      margin-left: 2rem;
      background-color: transparent;
      color: $font-color;
      border: none;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      outline: none;
      padding: 5px 6px 2px;
      border-radius: 4px;
    }

    button.active {
      background: $specific-color;
      color: white;
    }
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .btn-favourite {
    padding-bottom: 0.5rem;
    font-size: 1.7rem;
  }
}
