.showSummary-container {
  img {
    width: 100%;
    vertical-align: middle;
  }
  figure {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 0.6s ease;
      opacity: 0;
      background: $black-color;
    }
    &::after {
      content: "More Info";
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 0.3s ease;
      opacity: 0;
      cursor: pointer;
    }
    &:hover:before {
      opacity: 0.7;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  .header-show {
    margin-top: 0.5rem;
    transition: color 0.7s ease;
    cursor: pointer;
    &:hover {
      color: rgb(138, 138, 138);
    }
  }
  h5 {
    padding: 0.5rem 0;
    @include mq("tablet-middle", "max") {
      font-size: 1.4rem;
    }
    @include mq("phone-wide", "max") {
      font-size: 1.6rem;
      padding: 1rem 0;
    }
  }
  .rating-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;
  }
}
