.show-details {
  .show-info {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    @include mq("desktop", "max") {
      grid-template-rows: auto auto auto;
      grid-gap: 1rem;
    }

    article {
      grid-column: 1 / 7;
      @include mq("desktop", "max") {
        grid-column: 1 / -1;
      }
    }

    figure {
      grid-column: 7 / 13;
      grid-row: 1 / 3;
      @include mq("desktop-wide", "max") {
        grid-row: 1 / 2;
      }
      @include mq("desktop", "max") {
        grid-column: 1 / -1;
      }
    }

    img {
      max-width: 100%;
    }

    ul {
      justify-self: left;
      align-self: start;
      grid-row: 2 / 3;
      grid-column: 1 / 7;
      padding: 0;
      list-style: none;
      margin-top: 1rem;
      @include mq("desktop", "max") {
        grid-column: 1 / -1;
        grid-row: none;
      }
    }

    li {
      position: relative;
      padding-left: 1.5rem;

      &:before {
        content: "•";
        color: #d7d7d7;
        font-size: 2rem;
        position: absolute;
        left: 0;
        top: -0.8rem;
      }
    }

    p {
      display: inline-block;
      padding-bottom: 0;
    }
  }
  .cast {
    padding: 0 2rem;
  }
  .cast-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
